<div class="col-sm-10">
    <input type="text" class="form-control" placeholder="Search By Model" ng-model="searchBymodel">
    </div>
    <br>
    <br>
<div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Search By Company" ng-model="searchBymake">
    </div>
    <br>
    <br>
<div class="col-sm-10">
    <select ng-model="priceRange" class="form-control" ng-options="product.range for product in priceFilterRange"><option value="">please select</option></select>
</div>
<br>
<br>